{% extends "base.html" %}

{% block body %}

<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12">
        <h1 class="text-center"><strong>Post a New Internship </strong></h1>
        <div> {% include "navBar.html" %}<br> </div>
        <form method="POST" name="postInternship">
         <div class="col-lg-12"><h3><strong> Internship Information </strong></h3></div>           
            <div class="pull-left">
                <label class="form-control" style="border-color:white;"> Number of spots available:  </label>
            </div>
            <div class="col-lg-1 col-md-1">
                <input class="form-control input-md" default="1" min="1" type="number" name="duplicatesNumber"> 
            </div>
        <div class="col-lg-12">
        </div>
        
        <div class="col-lg-6">
        <br/>
            <label> Position Job Title: </label>
            <input type  = "text" 
                   class = "form-control" 
                   name = "title"
                   maxlength="100"
                   required />
        </div>
        <div class="col-lg-6">
        <br/>
            <label> Location: </label>
            <input type  = "text" 
                   class = "form-control" 
                   name = "location"
                   maxlength="100"
                   required />
        </div>
        <div class="col-lg-12">
            <br/>
            <label> Description: </label>
            <textarea class = "form-control" 
                              name = "description" 
                              rows = "3"
                              required></textarea>
        </div>
    <div class="col-lg-6">
            <br/>
            <label> Class Standing: </label>  
                <select class="selectpicker form-control" 
                        title="-- Select all that applies --"
                        name="class_standing" 
                        multiple>
                  {% for type in config['class_standing'] %}
                  <option  value="{{type['option']}}">
                    {{type['option']}}
                  </option>
                  {% endfor %}
                 </select>
        </div>
    <div class="col-lg-6">
        <br/>
        <div class="input-group col-lg-6">
          <label> Duration of internship: </label>
          <div class="row">
              <div class="col-xs-8 col-sm-6">
                <input type='number' min="1" class="form-control" 
                   placeholder = "in weeks" required name = "duration">
              </div>
              <div class="col-xs-4 col-sm-6">
                 <label class="form-control" style="border-color:white;">WEEKS</label>
              </div>
        </div>
    </div>
    </div>
    <div class="col-lg-6">
        <br/>
        <label> Deadline for application: </label>
        <div class="input-group col-lg-12">
            <input type='text' class="form-control" id='datetimepicker1'
                   placeholder = "MM/DD/YYYY HH:MM: PM/AM" name = "deadline">
        </div>   
    </div>
    <div class="col-lg-6">
        <br/>
        <label> Start Date: </label>
        <div class="input-group col-lg-12">
            <input type='text' class="form-control" id='datetimepicker3'
                   required placeholder = "MM/DD/YYYY" name = "start_date">
        </div> 
    </div>
    <div>
    <div class="col-lg-1">
        <br/>
        <label> Paid: </label>
        <input type="checkbox" class="form-control" name = "is_paid" id = "paid">
        <input type="hidden" 
                name="hiddenOne"
                id="hiddenOnes"
                value="">   
    </div>
    <div class="col-lg-3">
        <br/>
        <label> Payment Type: </label>
    <select class="quantity form-control" id="paymentType" name='qty2' disabled="disabled" onchange="changeFunc(value);">
        <option value="hr"> Hourly Rate </option>
        <option value="cp"> Compensation </option>
    </select>
    </div>
    <div id = "h_r" 
             class = "col-lg-2" 
             hidden>
        <br/>
         <label for = "hr"> Hourly Rate: </label>
          <input type = "number"
                 min="0"
                 class="form-control " 
                 name="hourly_rate">
        </div>
    <div id = "cmp" 
             class = "col-lg-2" 
             hidden>
        <br/>
         <label for = "cp"> Compensation: </label>
          <input type = "number"
                 min="0"
                 class="form-control " 
                 name="compensation">
          </input>
        </div>
    <div class="col-lg-2">
        <br/>
        <label> Other Stipend: </label>
        <input type  = "text" 
               class = "form-control " 
               name = "other_stipend"
                />
          </input>
    </div>
    </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xl-12">
         <div class="col-lg-12"><h3><strong> Organization Information </strong></h3></div>    
        <div class="col-lg-6">
            <label> Organization Name: </label>
            <input type  = "text" 
                   class = "form-control " 
                   name = "org_name"
                   required />
        </div>
        <div class="col-lg-6">
            <label>Organization Type: </label>
            <select class=" form-control" 
                    name="org_type">
                  {% for type in config['organizationType'] %}
                  <option  value="{{type['option']}}">
                    {{type['option']}}
                  </option>
                  {% endfor %}
            </select>
            <br>
        </div>
        <div class="col-lg-12">
            <label> Website URL: </label>
            <input id="some-url"
                   class = "form-control "
                   name = "org_url" 
                   type="url" 
                   placeholder="http://www.berea.edu" 
                   value="http://">
        </div>
        <div class="col-lg-12">
            <br/>
            <label> Description: </label>
            <textarea class = "form-control" 
                              name = "org_description" 
                              rows = "3" 
                              required></textarea>
            <br>
        </div>
          <div class="col-lg-6">
            <label>  Address 1: </label>
            <input type  = "text" 
                   class = "form-control" 
                   name = "address1"
                   required />
          </div>
          <div class="col-lg-6">
              <label>  Address 2: </label>
              <input type  = "text" 
                     class = "form-control " 
                     name = "address2"
                     required />
          </div>
          <div>
            <div class="col-lg-2">
                <br/>
                <label> City: </label>
                <input type  = "text"
                       class = "form-control" 
                       name = "city"
                       required
                        />
            </div>
            
            <div class="col-lg-2 " >
                <br/>
                <label> State: </label>
                <input type  = "text"
                       class = "form-control" 
                       name = "state"
                       required
                        />
            </div>
            <div class="col-lg-2">
                <br/>
                <label> Zip Code: </label>
                <input type  = "text" 
                       class = "form-control" 
                       name = "zip_code"
                       required
                        />
            </div>
            <div class="col-lg-2">
                <br/>
                <label> Country: </label>
                <input type  = "text" 
                       class = "form-control" 
                       name = "country"
                       required
                        />
            </div>
          </div>
    </div>
    <div class="col-lg-12">
         <div class="col-lg-12"><h3><strong> Supervisor Information </strong>
        <br>
        <h4><input type="checkbox" id="useMe" name="useMePlease" checked> Use me </h4></h3></div>    
         <input type="hidden" 
                name="useMeHidden"
                id="useMeHidden"
                value="1">  
        <div class="col-lg-6">
            <label>  First Name: </label>
            <input type  = "text" 
                   id="fname"
                   class = "form-control " 
                   name = "first_name"
                   value = {{user.first_name}}
                   required />
        </div>
        <div class="col-lg-6">
            <label>  Last Name: </label>
            <input type  = "text" 
                   id="lname"
                   class = "form-control " 
                   value = {{user.last_name}}
                   name = "last_name"
                   required />
        </div>
        <div class="col-lg-6">
            <label> Phone: </label>
            <input type  = "text" 
                   id="ph"
                   pattern=".{10,15}"
                   title="Please enter a number between 10 and 15 digits"
                   class = "form-control " 
                   value = {{user.phone}}
                   name = "supervisor_phone"
                    />
        </div>
        <div class="col-lg-6">
            <label> Email: </label>
            <input type  = "email" 
                   id="e"
                   class = "form-control " 
                   value = {{user.email}}
                   name = "supervisor_email"
                   required />
        </div>
    </div>
    <div class="col-lg-12">
        <br/>
        <div class="pull-right">
        <button type="submit" name="button" value="save" class="btn btn-default" formnovalidate>Save  </button>
        <button type="submit" name="button" value="submit" class="btn btn-default">Post</button>
        </div>
    </div>
  </form>
  </div>
</div>
<script type="text/javascript">
    $(function ($) {
    $('#datetimepicker1').datetimepicker();
    });
</script>
// <script type="text/javascript">
//     $(function ($) {
//     $('#datetimepicker2').datepicker();
//     });
// </script>
<script type="text/javascript">
    $(function ($) {
    $('#datetimepicker3').datepicker();
    });
</script>
<script>
    function changeFunc(element) {
    if(element == "hr"){
      $("#h_r").show();
      $("#cmp").hide();
      $("#h_r").prop('required',true);
    }
    else {
        $("#h_r").hide();
        $("#cmp").show();
        $("#cmp").prop('required',true);
    }
  }
</script>
<script>
     $('#paid').change(function(){
     var  $select = $('#paymentType');
     if ($('#hiddenOnes').val()=="")
     {
        $select.removeAttr('disabled');
        $("#h_r").show();
        $('#hiddenOnes').val("1");
     }
     else{
        $select.attr('disabled','disabled');
        $('#hiddenOnes').val("");
        $("#h_r").hide();
       $("#cmp").hide();
     }
 });
</script>

<script>
    $('#useMe').click(function(){
     if ($('#useMeHidden').val()=="1")
     {
        $('#useMeHidden').val("0"); 
        $("#fname").attr('value', ''); 
        $("#fname").val('');
        $("#lname").attr('value', ''); 
        $("#lname").val('');
        $('#ph').attr('value', '');
        $("#ph").val('');
        $('#e').attr('value', ''); 
        $("#e").val('');
     }
     else{
        $('#useMeHidden').val("1");
        $('#fname').val("{{user.first_name}}");  
        $('#lname').val("{{user.last_name}}");  
        $('#ph').val("{{user.phone}}");  
        $('#e').val("{{user.email}}");  
     }
 });
</script>
{% endblock %}
