{% extends "base.html" %}

{% block body %}

<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12">
        {% if internship.status == 0 %}
        <h1 class="text-center"><strong>Edit: {{internship.title}}</strong></h1>
        <div> {% include "navBar.html" %} <br><br> </div>
        <form method="POST">
        <div class="col-lg-12"><h3><strong> Internship Information </strong></h3></div>
        <div class="col-lg-6">
            <label> Title: </label>
            <input type  = "text" 
                   class = "form-control" 
                   name = "title"
                   maxlength="100"
                   value="{{internship.title}}"
                   required />
        </div>
        <div class="col-lg-6">
            <label> Location: </label>
            <input type  = "text" 
                   class = "form-control" 
                   name = "location"
                   value="{{internship.location}}"
                   maxlength="100"
                   required />
        </div>
        <div class="col-lg-12">
            <br/>
            <label> Description: </label>
            <textarea class = "form-control" 
                              name = "description" 
                              rows = "3"
                              required>{{description}}</textarea>
        </div>
        <div class="col-lg-6">
            <br/>
            <label> Class Standing: </label>  
                <select class="selectpicker form-control" 
                        title="-- Select all that applies --"
                        name="class_standing" 
                        multiple>
                  {% for type in config['class_standing'] %}
                    <option value = "{{type['option']}}" title = "{{type['option']}}"
                        {% if type['option'] in internship.class_standing %}
                          selected
                        {% endif %}
                        >
                        {{type['option']}}
                    </option>
                    {% endfor %}
                 </select>
        </div>
        <div class="col-lg-6">
            <br/>
            <div class="input-group col-lg-6">
                <label> Duration of internship: </label>
                <div class="input-group col-lg-12">
                    <div class="row">
                      <div class="col-xs-8 col-sm-6">
                        <input type='number' min="1" class="form-control" 
                                  value="{{internship.duration}}" required name = "duration">
                      </div>
                      <div class="col-xs-4 col-sm-6">
                         <label>WEEKS</label>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
        <br/>
        <label> Deadline for application: </label>
        <div class="input-group col-lg-12">
            <input type='text' class="form-control" id='datetimepicker1'
                              value="{% if internship.deadline %}{{internship.deadline.strftime('%m/%d/%Y %I:%M %p')}}{% endif %}"
                   placeholder = "MM/DD/YYYY HH:MM: PM/AM" name = "deadline">
        </div>   
        </div>
    
    
        <div class="col-lg-6">
        <br/>
        <label> Start Date: </label>
        <div class="input-group col-lg-12">
            <input type='text' class="form-control" id='datetimepicker3'
                              value="{% if internship.start_date %}{{internship.start_date.strftime('%m/%d/%Y')}}{% endif %}"
                   required placeholder = "MM/DD/YYYY" name = "start_date">
        </div> 
        </div>
        <div class="col-lg-1">
            <br/>
            <label> Paid: </label>
            {% if internship.is_paid == True %}
                <input checked type="checkbox" class="form-control" name = "is_paid" id = "paid2">
            {% else %}
                <input type="checkbox" class="form-control" name = "is_paid" id = "paid2">
            {% endif %}
            <input type="hidden" 
                    name="hiddenOne"
                    id="hiddenOne2"
                    value="{{checkbox}}">  
        </div>
         <div class="col-lg-3">
        <br/>
        <label> Payment Type: </label>
    <select class="quantity form-control" id="paymentType2" name='qty2' disabled="disabled" onchange="changeFunc(value);">
        <option value="hr"> Hourly Rate </option>
        <option value="cp"> Compensation </option>
    </select>
    </div>
    <div id = "h_r2" 
             class = "col-lg-2" 
             hidden>
        <br/>
         <label for = "hr"> Hourly Rate: </label>
          <input type = "number"
                 min="0"
                 class="form-control " 
                 name="hourly_rate">
        </div>
    <div id = "cmp2" 
             class = "col-lg-2" 
             hidden>
        <br/>
         <label for = "cp"> Compensation: </label>
          <input type = "number"
                 min="0"
                 class="form-control " 
                 name="compensation">
          </input>
        </div>
        
        <div class="col-lg-2">
            <br/>
            <label> Other Stipend: </label>
            <input type  = "text" 
                   class = "form-control " 
                   value="{{internship.other_stipend}}"
                   name = "other_stipend"
                    />
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xl-12">
        <div class="col-lg-12">
        <h3><strong> Organization information </strong></h3></div>
        <div class="col-lg-6">
            <label> Organization Name: </label>
            <input type  = "text" 
                   class = "form-control " 
                   value="{{internship.organization.name}}"
                   name = "org_name"
                   required />
        </div>
        <div class="col-lg-6">
            <label>Organization Type: </label>
            <select class="form-control" 
                        title="-- Select all that applies --"
                        name="org_type" >
                  {% for type in config['organizationType'] %}
                    <option value = "{{type['option']}}" title = "{{type['option']}}"
                        {% if type['option'] == internship.organization.org_type %}
                          selected
                        {% endif %}
                        >
                        {{type['option']}}
                    </option>
                    {% endfor %}
                 </select>
            <br>
        </div>
        <div class="col-lg-12">
            <label> Website URL: </label>
            <input id="some-url"
                   class = "form-control "
                   name = "org_url" 
                   type="url" 
                   placeholder="http://www.berea.edu" 
                   {% if "http:" in internship.organization.url %}
                   value="{{internship.organization.url}}"
                   {% else %}
                   value="http://"
                   {% endif %}
                   >
            <br>
        </div>
        <div class="col-lg-12">
            <label> Description: </label>
            <textarea class = "form-control" 
                              name = "org_description" 
                              rows = "3"
                              required>{{org_description}}</textarea>
        <br>
        </div>
        
          <div class="col-lg-6">
            <label>  Address 1: </label>
            <input type  = "text" 
                   class = "form-control "
                   value="{{internship.organization.address1}}"
                   name = "address1"
                    />
          </div>
          <div class="col-lg-6">
              <label>  Address 2: </label>
              <input type  = "text" 
                     class = "form-control "
                     value="{{internship.organization.address2}}"
                     name = "address2"
                      />
          </div>
          <div>
            <div class="col-lg-2">
                <br/>
                <label> City: </label>
                <input type  = "text"
                       class = "form-control"
                       value="{{internship.organization.city}}"
                       name = "city"
                        />
            </div>
            
            <div class="col-lg-2 " >
                <br/>
                <label> State: </label>
                <input type  = "text"
                       class = "form-control"
                       value="{{internship.organization.state}}"
                       name = "state"
                        />
            </div>
            <div class="col-lg-2">
                <br/>
                <label> Zip Code: </label>
                <input type  = "text" 
                       class = "form-control "
                       value="{{internship.organization.zip_code}}"
                       name = "zip_code"
                        />
            </div>
            <div class="col-lg-2">
                <br/>
                <label> Country: </label>
                <input type  = "text" 
                       class = "form-control "
                       value="{{internship.organization.country}}"
                       name = "country"
                        />
            </div>
        <div class="col-lg-12">
        <h3><strong> Supervisor Information 
        <h5>
            {% if internship.useMe == True %}
            <input type="checkbox" id="useMe2" name="useMePlease" checked> Use me </h5>
             {% else %}
            <input type="checkbox" id="useMe2" name="useMePlease" > Use me </h5>
             {% endif %}</strong></h3>
             </div>
        <input type="hidden" 
                name="useMeHidden"
                id="useMeHidden2"
                value="{{useMeCheckbox}}">  
        <div class="col-lg-6">
            <label>  First Name: </label>
            <input type  = "text" 
                   id = "fname2"    
                   class = "form-control " 
                   name = "first_name"
                   value="{{internship.supervisor.first_name}}"
                   required />
        </div>
        <div class="col-lg-6">
            <label>  Last Name: </label>
            <input type  = "text" 
                   id = "lname2"
                   class = "form-control " 
                   value="{{internship.supervisor.last_name}}"
                   name = "last_name"
                   required />
        </div>
        <div class="col-lg-6">
            <label> Phone: </label>
            <input type  = "tel" 
                   id = "ph2"
                   class = "form-control " 
                   value="{{internship.supervisor.phone}}"
                   pattern=".{10,15}"
                   title="Please enter a number between 10 and 15 digits"
                   name = "supervisor_phone"
                    />
        </div>
        <div class="col-lg-6">
            <label> Email: </label>
            <input type  = "text" 
                   id = "e2"
                   class = "form-control " 
                   value="{{internship.supervisor.email}}"
                   name = "supervisor_email"
                   required />
        </div>
    <div class="col-lg-12">
        <br/>
        <div class="pull-right">
        <button type="submit" name="button" value="save" class="btn btn-default" formnovalidate>Save</button>
        <button type="submit" name="button" value="submit" class="btn btn-default">Post</button>
        <button type="submit" name="button" value="delete" class="btn btn-danger" formnovalidate>Delete</button>
        </div>
    </div>
  </form>
  </div>
  {% else %}
  <h1 class="text-center"><strong>{{internship.title}}</strong></h1>
        <div> {% include "navBar.html" %} <br><br> </div>
        <form method="POST" name="postInternship">
        <div class="col-lg-12">
        <h3><strong> Internship information </strong></h3></div>
        <div class="col-lg-6">
            <label> Title: </label>
            <span class = "form-control">{{internship.title}}</span>
        </div>
        <div class="col-lg-6">
            <label> Location: </label>
            <span class = "form-control">{{internship.location}}</span>
        </div>
        <div class="col-lg-12">
            <br/>
            <label> Description: </label>
            <textarea class="form-control"
                      rows = "3">
                {{description}}</textarea>
        </div>
    <div class="col-lg-6">
            <br/>
            <label> Class Standing: </label>  
                <select class="selectpicker form-control" 
                        disabled>
                  {% for type in config['class_standing'] %}
                    <option value = "{{type['option']}}" title = "{{type['option']}}"
                        {% if type['option'] in internship.class_standing %}
                          selected
                        {% endif %}
                        >
                        {{type['option']}}
                    </option>
                    {% endfor %}
                 </select>
        </div>
        <div class="col-lg-6">
            <br>
             <label> Duration of internship: </label>
          <div class="row">
              <div class="col-xs-8 col-sm-6">
                 <span class="form-control" name = "duration">{{internship.duration}} </span>
              </div>
              <div class="col-xs-4 col-sm-6">
                 <label class="form-control" style="border-color:white;">WEEKS</label>
              </div>
        </div>
            </div>
    <div class="col-lg-6">
        <br/>
        <label> Deadline for application: </label>
        <div class="input-group col-lg-12">
            <span class="form-control">{% if internship.deadline %}{{internship.deadline.strftime('%m/%d/%Y %I:%M %p')}}{% endif %}</span>
        </div>   
    </div>
    <div class="col-lg-6">
        <br/>
        <label> Start Date: </label>
        <div class="input-group col-lg-12">
            <span class="form-control">{% if internship.start_date %} {{internship.start_date.strftime('%m/%d/%Y')}} {% endif %}</span>
        </div> 
    </div>
    <div>
    <div class="col-lg-1">
        <br/>
        <label> Paid: </label>
        {% if internship.is_paid == True %}
            <input checked type="checkbox" class="form-control" name = "is_paid" disabled>
        {% else %}
            <input  type="checkbox" class="form-control" name = "is_paid" disabled>
        {% endif %}
    </div>
    {% if internship.is_paid == True %}
       <div class="col-lg-2">
           <br/>
           {% if internship.hourly_rate is not none %} 
               <label> Hourly Rate: </label>
               <span class="form-control"> {{internship.hourly_rate}}</span>
           {% elif internship.compensation is not none %}
               <label> Compensation: </label>
               <span class="form-control"> {{internship.compensation}}</span>
           {% endif %}
       </div>
   {% endif %}
   
   
    <div class="col-lg-2">
        <br/>
        <label> Other Stipend: </label>
        <span class = "form-control">{{internship.other_stipend}}</span>
                      <br>
    </div>
    </div>
    <div class="col-lg-12">
        <h3><strong> Organization information </strong></h3></div>
        <div class="col-lg-6">
            <label>  Name: </label>
            <span class = "form-control">{{internship.organization.name}}</span>
        </div>
        <div class="col-lg-6">
            <label>Type: </label>
            <span class = "form-control">{{internship.organization.type}}</span>
                      <br>
        </div>
        <div class="col-lg-6">
            <label> Website URL: </label>
            <span class = "form-control">{{internship.organization.url}}</span>
                      <br>
        </div>
        
        <div class="col-lg-12">
            <label> Description: </label>
            <textarea class="form-control"
                      rows = "3">{{internship.organization.description}}</textarea>
                      <br>
        </div>
        <div class="col-lg-6">
            <label> Address1: </label>
            <span class = "form-control">{{internship.organization.address1}}</span>
        </div>
        <div class="col-lg-6">
            <label> Address2: </label>
            <span class = "form-control">{{internship.organization.address2}}</span>
                      <br>
        </div>
        <div class="col-lg-2">
            <label> City: </label>
            <span class = "form-control">{{internship.organization.city}}</span>
        </div>
        <div class="col-lg-2">
            <label> State: </label>
            <span class = "form-control">{{internship.organization.state}}</span>
        </div>
        <div class="col-lg-2">
            <label> Zip Code: </label>
            <span class = "form-control">{{internship.organization.zip_code}}</span>
        </div>
        <div class="col-lg-2">
            <label> Country: </label>
            <span class = "form-control">{{internship.organization.country}}</span>
        </div>
    </div>
    <div class="col-lg-12"><div class="col-lg-12">
        <h3><strong> Supervisor information </strong></h3></div>
        <div class="col-lg-6">
            <label>  First Name: </label>
            <span class = "form-control">{{internship.supervisor.first_name}}</span>
        </div>
        <div class="col-lg-6">
            <label>  Last Name: </label>
            <span class = "form-control">{{internship.supervisor.last_name}}</span>
            <br/>
        </div>
        <div class="col-lg-6">
            <label> Phone: </label>
            <span class = "form-control">{{internship.supervisor.phone}}</span>
        </div>
        <div class="col-lg-6">
            <label> Email: </label>
            <span class = "form-control">{{internship.supervisor.email}}</span>
        </div>
        <form  method="POST" name="deleteInternship">
            <div class="col-lg-12">
        <br/>
        <div class="pull-right">
        <button type="submit" name="button" value="delete" class="btn btn-danger">Delete</button>
        </div>
    </div> 
        </form>
  </div>
  {% endif %}
</div>
</div>
<script type="text/javascript">
    $(function ($) {
    $('#datetimepicker1').datetimepicker();
    });
</script>
<script type="text/javascript">
    $(function ($) {
    $('#datetimepicker2').datepicker();
    });
</script>
<script type="text/javascript">
    $(function ($) {
    $('#datetimepicker3').datepicker();
    });
</script>
<script>
     $('#paid2').change(function(){
     var  $select = $('#paymentType2');    
     if ($('#hiddenOne2').val()=="0")
     {
         
        $select.removeAttr('disabled');
        $("#h_r2").show();
        $('#hiddenOne2').val("1");
     }
     else{
        $select.attr('disabled','disabled');
        $("#h_r2").hide();
        $("#cmp2").hide();
        $('#hiddenOne2').val("0");
     }
 });
</script>
<script>
    function changeFunc(element) {
    if(element == "hr"){
      $("#h_r2").show();
      $("#cmp2").hide();
      $("#h_r2").prop('required',true);
    }
    else {
        $("#h_r2").hide();
        $("#cmp2").show();
        $("#cmp2").prop('required',true);
    }
  }
</script>
<script>
    $('#useMe2').click(function(){
     if ($('#useMeHidden2').val()=="1")
     {
        $('#useMeHidden2').val("0"); 
        $("#fname2").attr('value', ''); 
        $("#fname2").val('');
        $("#lname2").attr('value', ''); 
        $("#lname2").val('');
        $('#ph2').attr('value', '');
        $("#ph2").val('');
        $('#e2').attr('value', ''); 
        $("#e2").val('');
     }
     else{
        $('#useMeHidden2').val("1");
        $('#fname2').val("{{user.first_name}}");  
        $('#lname2').val("{{user.last_name}}");  
        $('#ph2').val("{{user.phone}}");  
        $('#e2').val("{{user.email}}");  
     }
 });
</script>
{% endblock %}
