{% extends "base.html" %}

{% block body %}

<div class="container">
    <div  class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-md-push-2">
        <div class="text-center">
        <h1>  Welcome to GoIntern! </h1>
        <h2> Please create a user account </h2>
    </div>
    <form name="register" method="POST">
    <br><br>
            <label> First Name: <span style="color:red"> * </span></label>
            <input type  = "text" 
                   class = "form-control " 
                   name = "first_name"
                   required />
       
            <label> Last Name: <span style="color:red"> * </span></label>
            <input type  = "text" 
                   class = "form-control " 
                   name = "last_name" required/>
      
            <label> Email: <span style="color:red"> * </span></label>
            <input type  = "email" 
                   class = "form-control " 
                   placeholder = "Email (must be @berea.edu)"
                   name = "email" required/>
    
            <label> Phone: </label>
            <input type='tel' 
                   pattern=".{10,15}"
                   title = "A number should have between 10 and 15 digits"
                   class = "form-control " 
                   name = "phone"  /> 
            <div class="pull-right">
                <br/>
                <button type="submit" name="button" value="submit" class="btn btn-default">Submit</button>
            </div>       
    </form>
    </div>  
</div>



{% endblock %}
