{% extends "base.html" %}

{% block body %}


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="container">
    <h1 class="text-center"><strong>Employer's Internships</strong></h1>
  </div>
</div>
<div> {% include "navBar.html" %}<br><br> </div>
<div class="container">
    {% include "/snips/internshipTable.html" %}
</div>

<script type="text/javascript">
 $('#internshipTable').dataTable( {
  "pagingType": "simple_numbers",
  "bLengthChange": false,
  "order": [[ 2, "desc" ]],
  "info":false,
} );
</script>
{% endblock %}
  