{% extends "base.html" %}

{% block body %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="">
            <br>
         <div class="col-lg-4 col-md-4 col-sm-3">
            <div class="panel panel-primary" id="result">
          <div class="panel-body" 
               style="overflow-y:scroll;
                      height:calc(100vh - 50px);">
            {% for internship in internships %}
            <div class="list-group">
                <a href="{{internship['IID']}}" class="list-group-item active">
                   <h4 class="list-group-item-heading"><strong>{{internship['title']}}</strong></h4>
                   <h4 class="list-group-item-text">{{internship['organization']['name']}}</h4>
                   <p class="list-group-item-text">{{internship['location']}}</p>
                   <p class="list-group-item-text">Apply by: {{internship['deadline']}}</p>
                </a>                
             </div>
            {% endfor %}
  </div>
</div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9">
             <div class="panel panel-primary" id="res">
          <div class="panel-body"
               style="overflow-y:scroll;
                      height:calc(100vh - 50px);">
            <div id="reloadDiv">
                <div id="info" class="text-center">
                    <h3> Click on an Internship to View Here </h3>
                    <h5> Scroll through the internships on the left and click to view the description</h5>
                </div>
  </div>
</div>
                     
</div>
        </div>

 </div>
</div>
<script>
$(document).ready(function(){
    $('a').click(function() {
        var href = $(this).attr('href');
        $("#reloadDiv").load('/admin/allInternships/' + href + "/");
        return false;
 });
});
</script>
{% endblock %}
  