<div class="">
    <div class="">
        <div>
        <h1 class="text-center"><strong> {{internship["title"]}} </strong></h1>
        <h3 class="text-center">{{internship["organization"]["name"]}} - {{internship["organization"]["city"]}}, {{internship["organization"]["state"]}}</h3>
        <h5 style="float:right;"><strong> Apply by: </strong>{{internship["deadline"]}}</h5>
        <br/>
        <br/>
        </div>
        <br/>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home"> Internship Information </a></li>
  <li><a data-toggle="tab" href="#menu1"> Organization Information </a></li>
</ul>

<div class="tab-content">
  
  <div id="home" class="tab-pane fade in active">
    <br>
    <h4> {{internship["title"]}} </h4>
    <p><strong> Location: </strong> {{internship["location"]}}</p>
    <p><strong> Class Standings: </strong> {{internship["class_standing"]}}</p>
    <p><strong> Start Date: </strong> {{internship["start_date"]}}</p>
    <p><strong> Duration: </strong> {{internship["duration"]}}</p>
    <p><strong> Paid: </strong> {% if internship["is_paid"] == True %} Yes {% else %} No {% endif %} </p>
    {% if internship["is_paid"] == True %}
    <p><strong> Payment Type: </strong>
      {% if internship["hourly_rate"] is not none %}
        <br> <span> &nbsp;&nbsp;  - Hourly rate: ${{internship["hourly_rate"]}} </span>
      {% endif %}
      {% if internship["compensation"] is not none %}
        <br> <span> &nbsp;&nbsp;  - Compensation: ${{internship["compensation"]}} </span>
      {% endif %}
    </p>
    {% endif %}
    <p> <strong> Description </strong> </p>
    <p> {{internship["description"]}}</p>
  </div>
  
  <div id="menu1" class="tab-pane fade">
    <br>
    <h4>{{internship["organization"]["name"]}}</h4>
    <p><strong> Headquarters: </strong> {{internship["organization"]["address1"]}},
                                                        {% if internship["organization"]["address2"] == "" %} {% else %} 
                                                         {{internship["organization"]["address2"]}}, {% endif %}
                                                         {{internship["organization"]["city"]}},
                                                         {{internship["organization"]["state"]}}</p>
    <p><strong> Website: </strong> {{internship["organization"]["url"]}}</p>
    <p><strong> Type: </strong> {{internship["organization"]["org_type"]}}</p>
    <br/>
    <p><strong> Description </strong></p>
    <p> {{internship["organization"]["description"]}}</p>
  </div>
  
</div>
   </div>
</div>
