{% extends "base.html" %}

{% block body %}


{% include "snips/flash.html" %}
{% set active_page = "getemail" %}
<div class="container">
  
<br/>
    
    <div style="background:#6CB1FF;
                border-radius: 88px 20px 124px 20px;
                -moz-border-radius: 88px 20px 124px 20px;
                -webkit-border-radius: 88px 20px 124px 20px;
                border: 5px outset #aeb9e8;
                -webkit-box-shadow: 4px 10px 13px -1px ;
                -moz-box-shadow: 4px 10px 13px -1px ;
                box-shadow: 4px 10px 13px -1px ;"
         class="col-lg-10 col-lg-push-1
                col-md-9
                col-sm-10">
        <div class="col-lg-1
    			    col-md-1
    			    col-sm-1
    			    col-xs-1"></div>
    
        <!-- This is the div for the Title of the login object-->
        <div style="background: #FFFFFF;
                    border-radius: 88px 20px 120px 20px"
             align="center"
             class="col-lg-5;
                    col-md-5;
                    col-sm-10
                    col-xs-10">
            <img src="http://www.aikcu.org/wp-content/uploads/2011/07/BereaLogo.png" alt="" width="225" height="225"/>
            <div class = "col-lg-12 col-md-12">
    <form action = "/gt" method = "POST">
      <h3 class="text-center">Short-Form Email Address</h3>
      <h4 class="text-center">Already have an account? </h4>
      <div class="col-lg-8">
        <div class="form-group">
          <input  type = "email"
                  class = "form-control"
                  id = "email"
                  name = "email"
                  placeholder = "Email (must be @berea.edu)"
                  {% if email %}
                    value = "{{email}}"
                  {% endif %}
                  >
        </div>
      </div>
      <div class="col-lg-4">
      <button type="submit" class="btn btn-info btn-raised">Request Submission Token</button>
               </div>
    </form>
    <div class="col-lg-12">
      <br>
    <h4 class="text-center"> Don't have an account? </h4>
    
    <div class="col-lg-12">
    <a type="submit" href="/employer/userRegister/"class="btn btn-md btn-success"> Create A New Account</a></div>
                <br><br><br>
  </div><br/>
        </div>
    <div class="col-lg-4
    			col-md-4
    			col-sm-4"></div>
    </div>
  </div>
</div>
 
 
 
 
 
 

{% endblock %}