{% extends "base.html" %}

{% block body %}

<div class = "centered">
  <form action = "/gt" method = "POST">
    <h2>Short-form email address</h2>
    <div class="form-group">
      <input  type = "email"
              class = "form-control"
              id = "email"
              name = "email"
              placeholder = "Email (must be @berea.edu)">
    </div>
    <button type="submit" class="btn btn-default">Request Submission Token</button>
  </form>
</div>


{% endblock %}