<div class="container">
    <div class="col-lg-12 col-md-12">
  <hr style="height:1px;border:none;color:black;background-color:black;">
  
 <h5 class="text-center"> For questions comments, or concerns about the internships you can contact the <a href="mailto:internships@berea.edu"> Internship Office </a> Phone: (859) 985-3656</h5>
  <h5 class="text-center"> Comments, questions, concerns about the website? <a href="mailto:support@bereacollege.onmicrosoft.com">Email Us </a></h5>
</div></div>